.jumbotron {
  background: #e29116;
  color: white;
  padding-bottom: 80px; 
}
.jumbotron .btn-primary {
  background: #9e5715; 
  border-color: #d87416; 
}
.jumbotron .btn-primary:hover {
    background: #d67c15; 
}

.navbar + .jumbotron {
  margin-top: -20px; 
}
.jumbotron .lang-logo {
  display: block;
  background: #B01302;
  border-radius: 50%;
  overflow: hidden;
  width: 100px;
  height: 100px;
  margin: auto;
  border: 2px solid white; 
}
.jumbotron .lang-logo img {
  max-width: 100%; 
}
.form-control {
  max-width: 40%;
}
/* My classes */
.jumbo-background {
  background: #5350f1 !important;
}
.subtitle {
  color: antiquewhite !important;
}
.bar-color {
  background-color: #acd2dd
}
