<html>
  {{template "header.tmpl.html"}}
<body>
  {{template "nav.tmpl.html"}}

<div class="jumbo-background jumbotron text-center">
  <h1 class="display-4">It's time to get fit.</h1>
  <br>
  <p class="lead">Here's your one stop shop for snagging those elusive gym slots.  Just enter a date to get started.</p>
  <br><br>
  <div class="row justify-content-center">
    <div class="col-3">
      <div class="dropdown-container">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Month
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">January</a>
            <a class="dropdown-item" href="#">February</a>
            <a class="dropdown-item" href="#">March</a>
            <a class="dropdown-item" href="#">April</a>
            <a class="dropdown-item" href="#">May</a>
            <a class="dropdown-item" href="#">June</a>
            <a class="dropdown-item" href="#">July</a>
            <a class="dropdown-item" href="#">August</a>
            <a class="dropdown-item" href="#">September</a>
            <a class="dropdown-item" href="#">October</a>
            <a class="dropdown-item" href="#">November</a>
            <a class="dropdown-item" href="#">December</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Day" aria-label="Day" aria-describedby="button-addon2" id="dayInput">
        <div class="input-group-append">
          <a class="btn btn-secondary" type="button" onclick="submitDate()" href="/get">Let's Go!</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="alert alert-info text-center" id="alert-text" role="alert">
       Enter the date and time range that you are available to work out in the form above.
  </div>
</div>  

</body>
</html>
