<nav class="navbar navbar-dark bg-dark">
  <div class="col-5 justify-content-center"> 
    <div class="row justify-content-center">
      <div class="col-3 justify-content-left"> 
      <a class="navbar-brand" href="/">Home</a> 
      </div>
      <div class="col-3 justify-content-left"> 
      <a class="navbar-brand" href="https://recregister.nd.edu/Program/GetProgramDetails?courseId=4c286489-76bf-47ab-bac2-728e84d3fc13&semesterId=4b3cccac-5940-40b2-ac08-c201ffe58d85">The Rock</a>
      </div>
      <div class="col-3 justify-content-left"> 
      <a class="navbar-brand" href="https://recregister.nd.edu/Program/GetProgramDetails?courseId=4c286489-76bf-47ab-bac2-728e84d3fc13&semesterId=4b3cccac-5940-40b2-ac08-c201ffe58d85">Smith Center</a>
      </div>
    </div>
  </div>
  <div class="col-6 justify-content-center"> 
  </div>
</nav>
